body{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdfdf;
    font-family: Raleway, Verdana, sans-serif;
}

svg#santiago-svg{
    border-radius: 1%;
    border-color: rgb(51, 51, 51);
    border-style: solid;
    background: solid;
    background-color: whitesmoke;
}

#selectores{
    display: flex;
    flex-direction: row;
}

.container-column{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1%;
    border-color: rgb(51, 51, 51);
    border-style: solid;
    background: solid;
    background-color: whitesmoke;
}

text{
    width: 600;
    height: 40;
    display: flex;
    justify-content: center;
}




#range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


input{
    width: 450px;
}