body{
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
}


svg#santiago-svg{
    border-radius: 1%;
    border-color: rgb(51, 51, 51);
    border-style: solid;
    background-color: whitesmoke;
}

path.santiago{
    stroke-width: .8;
    stroke: blue;
    fill: blue;
    opacity: 0.2;
}